/* Write your CSS here */
.pro-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pro-pic {
  width: 100%;
}

.pro-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'roboto';
}

.cal-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #171f46;
}

.pro-title {
  font-size: x-large;
}

.pro-des {
  width: 100%;
  font-size: large;
}

.pro-url {
  text-decoration: none;
  align-self: flex-start;
  font-size: large;
  font-weight: bold;
}
